{% extends 'adminbase.html.twig' %}

{% block title %}Edit Restaurant{% endblock %}

{% block body %}
<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Edit Category Page</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <p>

                <h1>Edit Restaurant</h1>

    {{ include('admin/setting/_form.html.twig', {'button_label': 'Update'}) }}
    <td>
        <a href="{{ path('setting_index') }}" class="btn btn-space btn-secondary">back to list</a>
    </td>
    <td>
        {{ include('admin/setting/_delete_form.html.twig') }}
    </td>

                </p>
            </div>
        </div>
    </section>
    <!-- /wrapper -->
</section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}

