{% extends 'menubase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}

{% block body %}
   <h4>.</h4><h4>.</h4><h4>.</h4>
 <div class="container">

    {{ include('restaurant/_form.html.twig') }}

    <a href="{{ path('user_restaurant_index') }}">back to list</a>

 </div>
    <h4>.</h4><h4>.</h4><h4>.</h4>
{% endblock %}
